<!-- Loading STATIC_URL -->
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang='uk'>
<head>
    <meta charset="UTF-8"/>
    <title>Сторінка Обліку
        Студентів-{% block meta-title %}{% endblock %}</title>
    <meta name="description"
          value="Сторінка обліку студентів навчального закладу"/>

    <!--Include section -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href={{ PORTAL_URL }}{% static "css/main.css" %}>
    {% block extra-css %}{% endblock %}
</head>

<body>
<!--Start Container-->
<div class="container">
    <!--Satart Header-->
    <div class="row" id="header">
        <!--Logo-->
        {% block logo %}
            <div class="col-xs-8" id="logo"><h1>Сервіс Обліку Студентів</h1>
            </div>
        {% endblock logo %}
        <!--Groups selector-->
        {% block groups-selector %}
            <div class="col-xs-4" id="group-selector">
                <strong>Група:</strong>
                <select>
                    <option value="">Усі Студенти</option>
                    {% for group in GROUPS %}
                        <option value="{{ group.id }}"
                                {% if group.selected %}selected='1'{% endif %}>
                            {{ group.title }}{% if group.leader %}
                                {{ group.leader }}{% endif %}</option>
                    {% endfor %}
                </select>
            </div>
        {% endblock groups-selector %}
    </div>
    <!--End Header-->
    <!--Start SubHeader-->
    <div class="row" id="sub-header">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li role="presentation"
                        {% url 'home' as the_url %}
                    {% if request.path == the_url %}class="active" {% endif %}>
                    <a href={% url 'home' %}>Студенти</a>
                </li>
                <li role="presentation"
                        {% url 'journal' as the_url %}
                    {% if request.path == the_url %}class="active" {% endif %}>
                    <a href={% url "journal" %}>Відвідування</a>
                </li>
                <li role="presentation"
                        {% url "groups_list" as the_url %}
                    {% if request.path == the_url %}class="active" {% endif %}>
                    <a href={% url "groups_list" %}>Групи</a>
                </li>
                <li role="presentation"
                        {% url "contact_admin" as the_url %}
                    {% if request.path == the_url %}class="active" {% endif %}>
                    <a href={% url "contact_admin" %}>Контакт</a>
                </li>
            </ul>
        </div>
    </div>
    <!--End SubHeader-->
    <!--Start Main page content-->
    <div class="row" id="content-columns">
        <div class="col-xs-12" id="content-column">

            {% block alert %}
            {% endblock alert %}

            <h2>{% block title %}{% endblock title %}</h2>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <!--End Main Page Content-->

    <!--Start Footer-->
    {% block footer %}
        <div class="row" id="footer">
            <div class="col-xs-12">&copy; 2014 Сервіс Обліку Студентів
            </div>
        </div>
    {% endblock footer %}
    <!--End Footer-->

</div>
<!--End Container-->
<!-- Modal Boilerplate -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><!-- --></h4>
            </div>
            <div class="modal-body"><!-- --></div>
            <div class="modal-footer"><!-- --></div>
        </div>
    </div>
</div>

<!--Javascript section-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<!-- This is jquery plagin for Form -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>

