{% extends 'students/base.html' %}

{% block meta-title %}Групи{% endblock meta-title %}
{% block title %}Групи{% endblock title %}
{% block content %}
    <a class="btn btn-primary" id="add_group" href="#">Додати Групу</a>
    <!--Start Groups List-->
    <table class="table table-hover table-striped">
        {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
            <thead>
            <tr>
                <th>
                    <a href="{% url 'groups_list' %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">№
                    {% if order_by == 'id' and reverse != '1' %}
                        &uarr;
                    {% elif order_by == 'id' and reverse == '1' %}
                        &darr;
                    {% endif %}</a>
                </th>
                <th>
                    <a href="{% url 'groups_list' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">Назва
                    {% if order_by == 'title' and reverse != '1' %}
                        &uarr;
                    {% elif order_by == 'title' and reverse == '1' %}
                        &darr;
                    {% endif %}</a>
                </th>
                <th>
                    <a href="{% url 'groups_list' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">Староста
                    {% if order_by == 'leader' and reverse != '1' %}
                        &uarr;
                    {% elif order_by == 'leader' and reverse == '1' %}
                        &darr;
                    {% endif %}</a>
                </th>
                <th>Дії</th>
            </tr>
            </thead>
        {% endwith %}
        <tbody>
        {% for group in groups %}
            <tr>
                <td>
                    {% if is_paginated %}
                        {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
                    {% else %}
                        {{ forloop.counter }}
                    {% endif %}
                </td>
                <td><a href="{% url "home" %}?group={{ group.id }}">{{ group.title }}</a></td>
                <td>{{ group.leader }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle"
                                type="button" data-toggle="dropdown">
                            Дії
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" value="{{ group.id }}" class="group-present"><a role="menuitem"
                                                       tabindex="-1"
                                                       href="{% url 'journal' %}">Відвідування</a>
                            </li>
                            <li role="presentation"><a role="menuitem"
                                                       tabindex="-1"
                                                       href="#">Редагування</a>
                            </li>
                            <li role="presentation"><a role="menuitem"
                                                       tabindex="-1"
                                                       href="#">Видалити</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% with object_list=students %}
            {% include "students/pagination.html" %}
        {% endwith %}
    {% include 'students/pagination.html' %}
    <!--End Groups List-->
{% endblock content %}